@font-face {
  font-family: brandon-grotesque;
  src: url('../assets/font/brandon_grotesque_black-webfont.eot');
  src: url('../assets/font/brandon_grotesque_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/brandon_grotesque_black-webfont.woff2') format('woff2'),
       url('../assets/font/brandon_grotesque_black-webfont.woff') format('woff'),
       url('../assets/font/brandon_grotesque_black-webfont.svg#brandon_grotesqueblack') format('svg');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'trend_sansfive';
  src: url('../assets/font/latinotype_-_trendsansfive-webfont.eot');
  src: url('../assets/font/latinotype_-_trendsansfive-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/font/latinotype_-_trendsansfive-webfont.woff2') format('woff2'),
       url('../assets/font/latinotype_-_trendsansfive-webfont.woff') format('woff'),
       url('../assets/font/latinotype_-_trendsansfive-webfont.svg#trend_sansfive') format('svg');
}

#app {
  background: url('../assets/imgs/bg/bg-azul.jpg');
}